{extend name="base" /}

{block name="body"}
    <div class="am-container">
        <label for="jsonInput">Json输入：</label>
        <textarea style="width: 100%" id="jsonInput" placeholder="输入Json数据"></textarea>
    </div>
    <div class="am-container" id="parseContent">
    </div>
{/block}
{block name="modal"}
<div class="am-modal am-modal-alert" tabindex="-1" id="jsonError">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/src/json/index.js"></script>
{/block}