{extend name="base" /}

{block name="content"}
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <!--<div class="am-cf am-padding am-padding-bottom-0">-->
        <!--<ol class="am-breadcrumb am-breadcrumb-slash am-margin-bottom-0" id="breadcrumb-ol">-->
        <!--<li data-value=""><a href="#" class="am-icon-folder">根目录</a></li>-->
        <!--</ol>-->
        <!--</div>-->
        <div class="am-cf am-padding am-padding-bottom-0 am-btn-toolbar">
            <div class="am-btn-group am-btn-group-sm" id="catalog">
                <button type="button" class="am-btn am-btn-default" data-value="">根目录</button>
            </div>
            <div class="am-btn-group am-form-file am-btn-group-sm">
                <form id="uploadForm" enctype="multipart/form-data">
                    <button type="button" class="am-btn am-btn-default am-btn-sm">
                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                    <input id="fileUpload" type="file" name="file" multiple="">
                </form>
            </div>
            <div class="am-btn-group am-form-file am-btn-group-sm">
                <button type="button" class="am-btn am-btn-default am-btn-sm" data-dir="" id="dirCreate">
                    <i class="am-icon-folder-open"></i> 新建文件夹</button>
            </div>
            <div class="am-btn-group am-btn-group-sm am-hide" id="fileOperation">
                <button type="button" class="am-btn am-btn-default" id="fileDownload"><i class="am-icon-download"></i></button>
                <button type="button" class="am-btn am-btn-default" data-am-modal="{target: '#myQrcode'}" id="fileQrcode"><i class="am-icon-qrcode"></i></button>
                <button type="button" class="am-btn am-btn-default" data-am-modal="{target: '#my-popup'}" id="filePreview"><i class="am-icon-eye"></i></button>
                <button type="button" class="am-btn am-btn-default" id="fileRemove"><i class="am-icon-remove"></i></button>
            </div>
        </div>
        <hr>

        <ul class="am-avg-sm-4 am-avg-md-8 am-avg-lg-12 am-margin gallery-list" id="file-ul">

        </ul>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2017 Zzzzz, Inc. Licensed under Zzz license.</p>
    </footer>
</div>
<!-- content end -->

{/block}
{block name="modal"}
<!--预览框-->
<div class="am-popup" id="my-popup">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title" id="previewTitle"></h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd" id="previewContent">
        </div>
    </div>
</div>

<!--新建文件夹-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="dirInput">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">文件夹名字</div>
        <div class="am-modal-bd">
            <input type="text" class="am-modal-prompt-input">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!--二维码-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="myQrcode">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <h4 class="am-popup-title" id="qrcodeTitle">...</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-modal-bd" id="qrcodeContent">
        </div>
    </div>
</div>

<script type="text/html" id="file-li">
    <li>
        <a href="#">
            <img class="am-img-thumbnail am-img-bdrs" src="" alt=""/>
            <div class="gallery-title"></div>
            <div class="gallery-desc"></div>
        </a>
    </li>
</script>
{/block}